<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lisans_Tezi_Mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lisans_Tezi_Mvc.styles.css" asp-append-version="true" />
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
  
</head>
<body>
    <header style="background:#69AB3D;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow m">
            <div class="container-fluid" style="background-color:#69AB3D">
                <a class="navbar-brand" style="background-color:#295D09; color:white !important;" asp-area="" asp-controller="Home" asp-action="Index">eCrOp - ERP Takip Sistemi</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                          

                            <a class="btn btn-success" style="background-color:#69AB3D;color:white;border:none" asp-area="" asp-controller="Home" asp-action="Index"> <i class="material-icons">search</i> </a>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="iconButton" asp-area="" asp-controller="Home" asp-action="Index" style="background-color:#69AB3D;color:white; border:none" text="ddddddddd"><i class="material-icons">notifications</i></button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="iconButton" asp-area="" asp-controller="Home" asp-action="Index" style="background-color:#69AB3D;color:white; border:none" text="ddddddddd"><i class="material-icons">close</i></button>
                        </li>
                    </ul>
                </div>


            </div>
        </nav>
      
    </header>
    <div class="container-fluid">

        <main role="main" class="pb-3">
          <div class="row">

                <div class="col-md-3">

                    <div class="image" style="margin: 0 auto">
                            <img src="../../images/kullanıcıArkaPlan.jpeg" alt="User" />
                        </div>
                

                    <div class="flex-shrink-0 p-3 bg-white" style="width: 340px;">
                        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                            <svg class="bi me-2" width="30" height="24"> <use xlink:href="#bootstrap"> </use> </svg>

                            <span class="fs-5 fw-semibold"> Anasayfa</span>
                        </a>
                        <ul class="list-unstyled ps-0">
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" style="background-color:white;font-size:18px" data-bs-toggle="collapse" data-bs-target="#stock-collapse" aria-expanded="true">
                                    Stok
                                </button>
                                <div class="collapse show mx-4" id="stock-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li>
                                         
                                            <div class="collapse show mx-4" id="saved_collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                    <li> <a asp-action="StockCard1" asp-controller="Stock" class="link-dark rounded"> Stok Kartı Kayıtları</a> </li>
                                                    <li> <a asp-action="StockTransactionRecords" asp-controller="Stock" class="link-dark rounded"> Stok Hareket Kayıtları</a> </li>
                                                    <li> <a asp-action="GroupCodeRecords" asp-controller="Stock" class="link-dark rounded"> Stok Kod Kayıtları</a> </li>
                                                    <li> <a asp-action="AccountingDetailCodeEntry" asp-controller="Stock" class="link-dark rounded"> Muhasebe Detay Kod Girişi</a> </li>
                                                    <li> <a asp-action="BarcodeRecords" asp-controller="Stock" class="link-dark rounded">Barkod Kayıtları</a> </li>
                                                    <li> <a asp-action="WarehouseDefinition" asp-controller="Stock" class="link-dark rounded">Depo İşlemleri</a> </li>
                                                  
                                                    <li> <a asp-action="StockEntryExitMovements" asp-controller="Stock" class="link-dark rounded">Stok Giriş-Çıkış Hareketleri</a> </li>
                                                    <li> <a asp-action="EmployeeDefinition" asp-controller="EmployeeDefinition" class="link-dark rounded">Personel Tanımlama</a> </li>
                                                    <li> <a asp-action="RiskyMaterialGroupDefinition" asp-controller="Stock" class="link-dark rounded">Riskli Ürün Grubu Tanımlama</a> </li>
                                                    
                                                    
                                              
                                                </ul>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                              
                            </li>
                            <li class="border-top my-3"> </li>
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" style="background-color:white;font-size:18px" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                    Finans ve Muhasebe
                                </button>
                                <div class="collapse mx-4" id="dashboard-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                       
                                        
                                        <li> <a asp-action="CurrentCardIdentification" asp-controller="Accounting" class="link-dark rounded"> Cari Kart Tanımlama</a> </li>
                                        <li> <a asp-action="AccountingCodeDefinition" asp-controller="AccountingCodeDefinition" class="link-dark rounded"> Muhasebe Kod Tanımlama</a> </li>
                                        <li> <a href="#" class="link-dark rounded"> Weekly</a> </li>
                                        <li> <a href="#" class="link-dark rounded"> Monthly</a> </li>
                                        <li> <a href="#" class="link-dark rounded"> Annually</a> </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="border-top my-3"> </li>
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed" style="background-color:white;font-size:18px" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                                    Üretim ve Planlama
                                </button>
                                <div class="collapse mx-4" id="orders-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        
                                        <li> <a asp-action="PrescriptionRegistration" asp-controller="Production" class="link-dark rounded">Reçete Kaydı</a> </li>
                                        
                                    </ul>
                                </div>
                            </li>
                            <li class="border-top my-3"> </li>
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed" style="background-color:white;font-size:18px" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                                    İnsan Kaynakları
                                </button>
                                <div class="collapse" id="account-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li> <a href="#" class="link-dark rounded"> New...</a> </li>
                                        <li> <a href="#" class="link-dark rounded"> Profile</a> </li>
                                        <li> <a href="#" class="link-dark rounded"> Settings</a> </li>
                                        <li> <a href="#" class="link-dark rounded"> Sign out</a> </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="border-top my-3"> </li>
                        
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" style="background-color:white;font-size:18px" data-bs-toggle="collapse" data-bs-target="#stock-collapse" aria-expanded="true">
                                    Raporlar
                                </button>
                                <div class="collapse show mx-4" id="stock-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li>

                                            <div class="collapse show mx-4" id="saved_collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                    <li> <a asp-action="StockTransactionRecordsReport" asp-controller="Report" class="link-dark rounded"> Stok Hareket Kayıtları</a> </li>
                                                    <li> <a asp-action="StockLatestStatusList" asp-controller="Report" class="link-dark rounded">Stok Son Durum Listesi</a> </li>


                                                </ul>
                                            </div>
                                        </li>


                                    </ul>
                                </div>

                            </li>

                            <li class="border-top my-3"> </li>

                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" style="background-color:white;font-size:18px" data-bs-toggle="collapse" data-bs-target="#stock-collapse" aria-expanded="true">
                                    Genel İşlemler
                                </button>
                                <div class="collapse show mx-4" id="stock-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li>

                                            <div class="collapse show mx-4" id="saved_collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                    <li> <a asp-action="BarcodeTypeDefinition" asp-controller="BarcodeTypeDefinition" class="link-dark rounded"> Barkod Tipi Tanımlama</a> </li>
                                                    <li> <a asp-action="CurrencyDefinition" asp-controller="CurrencyDefinition" class="link-dark rounded">Para Birimi Tanımlama</a> </li>
                                                    <li> <a asp-action="TypeDefinition" asp-controller="GeneralOperations" class="link-dark rounded">Tip Tanımlama</a> </li>
                                                    <li> <a asp-action="UnitofMeasureDefinition" asp-controller="UnitofMeasureDefinition" class="link-dark rounded">Ölçü Birimi Tanımlama</a> </li>


                                                </ul>
                                            </div>
                                        </li>


                                    </ul>
                                </div>

                            </li>


                        </ul>
                    </div>
           
             </div>

                <div class="col-md-9" >
                 
                    <div class="col-md-12" style="background-color:white">@RenderBody()</div>

                </div>
               </div>
        
        </main>
    </div>
   
      
        
    

 

  @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Lisans_Tezi_Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
