@{
    Layout = "_Layout";
}

<div class="container shadow stockcard py-2">
    <div class="row " style="background-color:grey">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="nav nav-tabs tabmenu py-2">
                <li class="nav-item">
                    <a class="nav-link" asp-action="BarcodeTypeDefinition" asp-controller="BarcodeTypeDefinition">Barkod Tipi Tanımlama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="CurrencyDefinition" asp-controller="CurrencyDefinition">Para Birimi Tanımlama</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-action="TypeDefinition" asp-controller="GeneralOperations">Tip Tanımlama</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" asp-action="UnitofMeasureDefinition" asp-controller="UnitofMeasureDefinition">Ölçü Birimleri Tanımlama</a>
                </li>
               


            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</div>


