
@{
    Layout = "~/Views/Stock/StockCodeRecords/_LayoutStockCodeRecords.cshtml";
    ViewData["Title"] = "GroupCodeRecords";
}
@model dynamic
   <div class="container">
        <div class="row">
            <div class="col-md-12">
            <form method="post" asp-controller="GroupCodeRecords" asp-action="Add">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row mt-2">
                                <div class="col-md-2">
                                    <label for="GRUP_KODU">Grup Kodu:</label>
                                </div>
                                <div class="col-md-4 text-start">
                                    <input class="form-control " name="GRUP_KODU" type="text">
                                </div>
                                <div class="col-md-2">
                                    <label for="GRUP_ADI">Grup İsmi:</label>
                                </div>
                                <div class="col-md-4 text-start">
                                    <input class="form-control " name="GRUP_ADI" type="text">
                                </div>
                             
                            </div>

                        </div>
                            <div class="row mt-2">
                                <div class="col">
                                 <table class="table">
                                     <thead>
                                       <tr>
                                         <th scope="col">#</th>
                                         <th scope="col">Grup Kodu</th>
                                         <th scope="col">Grup İsmi</th>
                                        
                                       </tr>
                                     </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.data1)
                                    {
                                        <tr>
                                            <th scope="row">@item.Id</th>
                                            <td>@item.GRUP_KODU</td>
                                            <td>@item.GRUP_ADI</td>
                                         

                                        </tr>
                                    }
                                </tbody>
                                   </table>


                        </div>
                         </div>
                         
                    </div>
                <div class="row mt-2">
                    <div class="col-md-1 text-start">
                        <button type="submit" class="btn btn-success">Ekle</button>
                    </div>
                </div>
                           </form>
                </div>  
            </div>
           
            </div>

