
@{
    Layout = "~/Views/Stock/StockCodeRecords/_LayoutStockCodeRecords.cshtml";
    ViewData["Title"] = "Stock_GroupCodeDefine";
}
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row mt-2">
                                <div class="col-md-2">
                                    <label for="stok_kodu">Stok Kodu:</label>
                                </div>
                                <div class="col-md-3 text-start">
                                <select id="STOK_KODU" name="STOK_KODU" class="form-control">
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in ViewBag.data1)
                                    {
                                        <option value="@item.STOK_KODU">@item.STOK_ADI</option>
                                    }
                                </select>
                                </div>
                              
                                <div class="col-md-2">
                                    <label for="stok_kodu">Grup Kodu:</label>
                                </div>
                                <div class="col-md-3 text-start">
                                <select id="STOK_KODU" name="STOK_KODU" class="form-control">
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in ViewBag.data1)
                                    {
                                        <option value="@item.STOK_KODU">@item.STOK_ADI</option>
                                    }
                                </select>
                                </div>
                             
                             
                            </div>

                        </div>



                            <div class="row">
                                <div class="col">
                                 <table class="table">
                                     <thead>
                                       <tr>
                                         <th scope="col">#</th>
                                         <th scope="col">Stok Kodu</th>
                                         <th scope="col">Stok İsim</th>
                                         <th scope="col">Grup Kodu</th>
                                         <th scope="col">Grup İsim</th>

                                        
                                       </tr>
                                     </thead>
                                     <tbody>
                                       <tr>
                                         <th scope="row">1</th>
                                         <td>Mark</td>
                                         <td>Otto</td>
                                      
                                       </tr>
                                       <tr>
                                         <th scope="row">2</th>
                                         <td>Jacob</td>
                                         <td>Thornton</td>
                                       
                                       </tr>
                                       <tr>
                                         <th scope="row">3</th>
                                         <td colspan="2">Larry the Bird</td>
                                
                                       </tr>
                                     </tbody>
                                   </table>


                        </div>
                         </div>

                         
                    </div>

            </form>
                </div>  

                    </div>
         
            </div>

