@{
    Layout = "~/Views/Accounting/CurrentCardIdentification/_LayoutCurrentCardIdentification.cshtml";
    ViewData["Title"] = "CurrentCardIdentification";
}
@model dynamic

<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-controller="AccountingCurrentCardIdentification" asp-action="CreateAccountingCurrentCardDefinition">

                <div class="row">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <label>CARİ KART TANIMLARI</label>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="CARI_KODU">Cari Kodu:</label>
                                                </div>

                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " name="CARI_KODU" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="UNVAN">Ünvan:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " name="UNVAN" type="text">
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <div class="row mt-2">
                                            <div class="col-md-8">
                                                <div class="card">
                                                    <h5 class="card-header">Tanımlamalar</h5>
                                                    <div class="card-body">
                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="ADRES">Adres:</label>
                                                            </div>
                                                            <div class="col-md-8 text-start">
                                                                <input class="form-control " name="ADRES" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="POSTA_KODU">Posta Kodu:</label>
                                                            </div>
                                                            <div class="col-md-4 text-start">
                                                                <input class="form-control " name="POSTA_KODU" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="VERGI_ADRESI">Vergi Dairesi:</label>
                                                            </div>
                                                            <div class="col-md-4 text-start">
                                                                <input class="form-control " name="VERGI_ADRESI" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="VERGI_NO">Vergi No:</label>
                                                            </div>
                                                            <div class="col-md-4 text-start">
                                                                <input class="form-control " name="VERGI_NO" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="TELEFON">Telefon:</label>
                                                            </div>
                                                            <div class="col-md-4 text-start">
                                                                <input class="form-control " name="TELEFON" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="FAX">Fax:</label>
                                                            </div>
                                                            <div class="col-md-4 text-start">
                                                                <input class="form-control " name="FAX" type="text">
                                                            </div>
                                                        </div>

                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="MUH_DETAY">Muhasebe Detay Kodu:</label>
                                                            </div>
                                                            <div class="col-md-4 text-start">
                                                                <input class="form-control " name="MUH_DETAY" type="text">
                                                            </div>
                                                        </div>

                                                        <div class="row mt-2">
                                                            <div class="col-md-4">
                                                                <label for="PARA_BIRIMI_ADI">Varsayılan İşlem Para Birimi:</label>
                                                            </div>


                                                            <div class="col-md-4">
                                                                <select id="PARA_BIRIMI" name="PARA_BIRIMI" class="form-control">
                                                                    <option value="">Seçiniz</option>
                                                                    @foreach (var item in Model)
                                                                    {
                                                                        <option value="@item.PARA_BIRIMI_KODU">@item.PARA_BIRIMI_KODU</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-1 text-start">
                                        <button type="submit" class="btn btn-success">Ekle</button>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
