@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
    <div class="image"style=" text-align:center">
        <img src="../../images/logo.jpeg" width="300" height="300" alt="User" />
    </div>
    </div>

</div>