
@{
    Layout = "~/Views/Stock/StockCardRecords/_LayoutStockCardRecords.cshtml";
    ViewData["Title"] = "StockInfo";
}
<div class="container" style="background-color: grey; ">
    <div class="row">
        <div class="col-md-12">
            <form action="post">

                <div class="row">
                    <div class="row mt-2">
                        <div class="col-md-2">

                            <label for="stok_kodu">Stok kodu:</label>
                        </div>
                        <div class="col-md-4 text-start">
                            <select id="STOK_ADI" name="STOK_ADI" class="form-control">
                                <option value="">Seçiniz</option>

                            </select>
                        </div>

                       
                    </div>

                </div>


                <div class="row">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <input class="form-control " id="stok_kodu" type="text">
                        </div>
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>
