@{
    Layout = "~/Views/Production/PrescriptionRegistration/_LayoutPrescriptionRegistration.cshtml";
    ViewData["Title"] = "PrescriptionRegistration";
}

   <div class="container"  >
        <div class="row">
            <div class="col-md-12">
                <form action="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row mt-2">
                                <div class="col-md-2">
                                    <label for="stok_kodu">Mamul Kodu:</label>
                                </div>
                                <div class="col-md-3 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-success">btn</button>
                                </div>

                                <div class="col-md-2">
                                    <label for="stok_kodu">Mamul İsmi:</label>
                                </div>
                               
                                <div class="col-md-4 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>
                            </div>

                        </div>


                        <div class="row mt-1">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">  
                                        <div class="row">
                                            <div class="col-md-1">
                                                <label for="stok_kodu">Reçete Top.</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control " id="stok_kodu" type="number">
                                            </div>
                                       

                                            <div class="col-md-1">
                                                <label for="stok_kodu">Ölçü Birimi</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="custom-select">
                                                    <select>
                                                      <option value="0">EA-12LKF:</option>
                                                      <option value="1">Ad</option>
                                                    </select>
                                                  </div>
                                            </div>
                                       
                                        </div> 
                                        </div>
                                    
                                </div>
                            </div>
                        </div>


                        
                        <div class="row mt-1">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                Reçete Bilgileri-1
                                      </div>
                                    <div class="card-body">  
                                    

                                        <div class="row mt-1">
                                            <div class="col-md-2">
                                                <label for="stok_kodu">Sıra No</label>
                                            </div>
                                         
                                            <div class="col-md-3">
                                                <input class="form-control " id="stok_kodu" type="number">
                                            </div>

                                         
                                            <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                            Operasyon
                                                </label>
                                            </div>
                                            </div>
                                            
                                            <div class="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                Bileşen
                                                    </label>
                                                </div>
                                                </div>
                                                
                                            <div class="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                Yan Ürün
                                                    </label>
                                                </div>
                                                </div>
                                        </div> 


                                        
                            <div class="row mt-2">
                                <div class="col-md-2">
                                    <label for="stok_kodu">Bileşen Kodu:</label>
                                </div>
                                <div class="col-md-3 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>
                               



                            <div class="row mt-2">
                                <div class="col-md-2">
                                    <label for="stok_kodu">Ölçü Br.:</label>
                                </div>
                                <div class="col-md-1">
                                    <div class="custom-select">
                                        <select>
                                          <option value="0">KG</option>
                                          <option value="1">Ad</option>
                                        </select>
                                      </div>
                                </div>
                               
                                <div class="col-md-1">
                                    <label for="stok_kodu">Miktar:</label>
                                </div>
                        
                                <div class="col-md-2 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>
                                <div class="col-md-2">
                                    <label for="stok_kodu">Sarf Edilen Mamul Kodu:</label>
                                </div>
                        
                                <div class="col-md-1 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-success">btn</button>
                                </div>
                                <div class="col-md-1 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>

                           
                             
                            </div>



                                        </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Stok Kodu</th>
                                        <th scope="col">Stok Adı</th>
                                        <th scope="col">Barkod</th>
                                        <th scope="col">Açıklama</th>
                                        <th scope="col">Kayot Tarihi</th>
                                        <th scope="col">Barkod Tipi</th>
                                        <th scope="col">Ölçü Birimi</th>
                                        <th scope="col">Kilit</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>3</td>
                                      </tr>

                                      <tr>
                                        <th scope="row">4</th>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>4</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">5</th>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>5</td>
                                      </tr>
                                    </tbody>
                                  </table>

                            </div>
                        </div>
              </div>
            </form>
                </div>  
              </div>
                   
            
            </div>