
@{

    Layout = "~/Views/Report/StockTransactionRecordsReport/_LayoutStockTransactionRecordsReport.cshtml";
    ViewData["Title"] = "StockTransactionRecordsReport";
}

<div class="container" style="background-color: grey;">
    <div class="row">
        <div class="col-md-12">
            <form action="post">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12"><label>STOK HAREKET KAYITLARI</label></div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mt-2">
                                            <div class="col-md-2">
                                                <label>Stok Kodu Aralığı :</label>
                                            </div>
                                            <div class="col-md-2 text-start">
                                                <input class="form-control " id="stok_kodu" type="text">
                                            </div>



                                            <div class="col-md-2 text-start">
                                                <input class="form-control " id="stok_kodu" type="text">
                                            </div>



                                            <div class="row mt-3">
                                                <div class="col-md-2">
                                                    <label>Grup Kodu Aralığı :</label>
                                                </div>

                                                <div class="col-md-2">

                                                    <div class="custom-select">
                                                        <select>
                                                            <option selected disabled value="">Seçiniz...</option>
                                                            <option value="0">HM</option>
                                                            <option value="1">YM</option>
                                                            <option value="2">MM</option>
                                                            <option value="3">IM</option>
                                                        </select>

                                                    </div>



                                                    <div class="col-md-2">
                                                        <div class="col - md-2">
                                                            <div class="custom-select">
                                                                <select>
                                                                    <option selected disabled value="">Seçiniz...</option>
                                                                    <option value="0">HM</option>
                                                                    <option value="1">YM</option>
                                                                    <option value="2">MM</option>
                                                                    <option value="3">IM</option>
                                                                </select>
                                                            </div>



                                                        </div>


                                                    </div>




                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-2">
                                                        <label>Tarih :</label>
                                                    </div>
                                                    <div class="col-md-2 text-start">
                                                        <input class="form-control " id="stok_kodu" type="text">
                                                    </div>







                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-md-2">
                                                        <label> Cari Kod Aralığı :</label>
                                                    </div>
                                                    <div class="col-md-2 text-start">
                                                        <input class="form-control " id="stok_kodu" type="text">
                                                    </div>



                                                    <div class="col-md-2 text-start">
                                                        <input class="form-control " id="stok_kodu" type="text">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="row mt-3">
                                    <div class="col">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Stok Kodu </th>
                                                    <th scope="col">Stok Aralığı</th>
                                                    <th scope="col">Tarih  </th>
                                                    <th scope="col">Grup Kodu </th>
                                                    <th scope="col">Depo</th>
                                                    <th scope="col">Cari Kodu</th>
                                                    <th scope="col">Cari Adı </th>




                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Mark</td>
                                                    <td>Otto</td>
                                                    <td>Otto</td>
                                                    <td>Otto</td>
                                                    <td>Otto</td>
                                                    <td>Otto</td>
                                                    <td>Otto</td>


                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Jacob</td>
                                                    <td>Thornton</td>
                                                    <td>Thornton</td>
                                                    <td>Thornton</td>
                                                    <td>Thornton</td>
                                                    <td>Thornton</td>
                                                    <td>Thornton</td>


                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td colspan="2">Larry the Bird</td>

                                                </tr>
                                            </tbody>
                                        </table>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </form>

        </div>
    </div>
</div>

